<head>


</head>

<div class="container; center">
<br>
<br>


        <h4>Hai già prenotato un biglietto ma non ti serve più?</h4>
        <br>

        <h2>Vendilo con EasyTicket </h2>
<br>

        <h4>Compra. Vendi. Viaggia.</h4>
        <br>
                  
<p>Premi <%= link_to "about", about_path %> per conoscerci </p>
</div>
